 h1 {
     font-family: august;
     color: #622569;
}
 body {
     background-color: #b0aac0;
     margin: 0px;
     font-family: "comic sans ms";
     font-size: 16px;
     text-align: center;
}
 table {
     display:table;
}
 .books {
     display: inline-grid;
    /* align-content: center;
     */
    /* justify-content: center;
     */
     grid-template-columns:1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-column-gap: 50px;
     grid-row-gap: 40px;
     grid-auto-flow: row;
}
 .item {
     place-self: center;
     justify-self: stretch;
     background-color: #c94c4c;
     font-size:16px;
     height:300px;
     width: 150px;
}
 p{
     color: #622569;
}
 .pret {
     color: #f9ccac;
     font-weight: bold;
}
